.feedfriendimg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.friendcontent{
    display: flex;
    flex-direction: row;
}
.feedfriendusername{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 600;
}
.feedtripname{
    font-weight: 600;
    margin-left: 230px;
    font-size: 34px;
}
.friendtrip{
    height: 300px;
    margin: 20px;
    margin-bottom: 0px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid rgba(0, 0, 0, 0.127);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.292);
    background-color: #F3E9DC;
    position: relative;
}
.hotelandtransportcontent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.amuseshopandfoodcontent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.feedtitles{
    font-weight: 600;
}
.backgroundpic{
    background-image: url('./effiletower.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
}
.picopa{
    background-color: rgba(0, 0, 0, 0.575);
}
