.name-profile{
    font-size: 32px;
    margin-top: 30px;
}
.backgroundone{
    height: 100vh;
    width: 100vw;
    background-image: url('./clifs.jpg');
    background-position: center;
    background-size: cover;
}
.backgroundopone{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.575);
}
.profile-container{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #F3E9DC;
    border-radius: 10px;
    top: 100px;
    left: 80px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.292)   
}
.profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}
.text{
    color: black;
}
.addtrip{
    color: black;
}
.trip-title{
    color: black;
}
.trip-list{
    color: black;
}
.trips{
    position: absolute;
    top: 170px;
    left: 450px;
    width: 585px;
    height: 160px;
    font-size: 20px;
    border-radius: 5px;
    padding: 20px;
    background-color: #F3E9DC;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.292)   
}
.trip-names{
    display: flex;
    flex-direction: column;
}
.trip-name{
    height: 50px;
    width: 200px;
    font-size: 22px;
}
.trip-details{
    position: absolute;
    top: 420px;
    padding: 20px;
    border-radius: 10px;
    width: 90vw;
    margin-left: 40px;
}
.followers-list{
    width: 80px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 120px;
    left: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F3E9DC;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.292)    
}
.following-list{
    width: 80px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 120px;
    left: 550px;
    display: flex;
    flex-direction: row;
    background-color: #F3E9DC;
    justify-content: space-between;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.292)
}
.followers{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.following{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.follower-search-button{
    position: absolute;
    top: 120px;
    left: 650px;
    height: 21px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F3E9DC;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.292) 
}
.addFriendModal{
    height: 400px;
    width: 300px;
    background-color: gray;
    position: relative;
    top: 140px;
    left: 600px;
}
.addFriendModal:focus{
    outline: none;
}
.friend-profile-img{
    height: 20px;
}
.usertrip{
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #F3E9DC;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.292)   
}
.settings{
    height: 24px;
    position: absolute;
    top: 125px;
    left: 1030px;
}
.editProfileModal{
    height: 50vh;
    width: 50vw;
    background-color: #F3E9DC;
    margin: auto;
    margin-top: 90px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.411);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.bio{
    font-size: 22px;
}
.userchanges{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.editProfileModal:focus{
    outline: none;
}
.dropzoneProfile{
    height: 100px;
    width: 100px;
    border: 2px dashed black
}
.updateUsernameProfile{
    width: 200px;
    font-size: 22px;
}
.bucketlisttrips{
    width: 400px;
    height: 200px;
}
.usernameText{
    font-size: 22px;
}
.Description{
    font-size: 22px;
}
.profilepicupdate{
    width: 100px;
}
.detailsdot{
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
}
.details{
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tripDetailsModal{
    height: 70vh;
    width: 80vw;
    background-color: #F3E9DC;
    margin: auto;
    margin-top: 20vh;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.466);
    border-radius: 5px;
}
.tripDetailsModal:focus{
    outline: none;
}
.profileTripname{
    padding: 5px;
    padding-left: 10px;
}
.ptn{
    font-weight: 600;
}
.tripanddetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.hotelandtransport{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.amuseshopfood{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.deets{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.usertripname{
    font-size: 24px;
    font-weight: 600;
}
.tripNameSpec{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-around;
}
.hotelandtransportspec{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.amuseshopandfoodspec{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.detailspec{
    height: 70vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Spec{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cattitle{
    font-weight: 600;
}
button{
    border-radius: 5px;
}
.deletewholetrip{
    margin-left: 10px;
}
.hotels-profile{
    padding: 40px;
}
.transportations{
    padding: 40px;
}
.amusements{
    padding: 40px;
}
.shoppings{
    padding: 40px;
}
.foods{
    padding: 40px;
}
@media (max-width: 1145px){
    .trips{
        width: 400px;
    }
    .settings{
        left: 840px;
    }
}
@media (max-width: 915px){
    .profile-container{
        width: 200px;
        height: 200px;
    }
    .profile-pic{
        height: 100px;
        width: 100px;
    }
    .name-profile{
        font-size: 22px;
    }
    .trips{
        left: 300px;
    }
    .follower-search-button{
        left: 500px;
    }
    .followers-list{
        left: 300px;
    }
    .following-list{
        left: 400px;
    }
    .settings{
        left: 690px;
    }
}
@media (max-width: 800px){
    .trips{
        width: 160px;
        height: 100px;
        top: 310px;
        left: 80px;
    }
    .followers-list{
        top: 100px;
    }
    .following-list{
        top: 100px;
    }
    .trip-details{
        margin-top: 10px;
    }
    .settings{
        left: 290px;
        top: 200px;
    }
    .follower-search-button{
        top: 150px;
        left: 300px;
    }
}
@media (max-width: 500px){
    .profile-container{
        left: 110px;
    }
    .trip-details{
        margin-top: 100px;
        margin-left: 0px;
    }
    .trips{
        top: 380px;
        left: 30px;
        width: 313px;
    }
    .followers-list{
        top: 310px;
        left: 50px;
    }
    .following-list{
        top: 310px;
        left: 150px;
    }
    .follower-search-button{
        top: 310px;
        left: 250px;
    }
    .settings{
        top: 100px;
        left: 310px;
    }
    .editProfileModal{
        height: 300px;
        width: 360px;
    }
}