@import url('https://fonts.googleapis.com/css?family=Shrikhand');
.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./collusium.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2
}
.login-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000d3;
    /* margin-left: 50px; */
    /* padding-left: 40px; */
}
.titleHome{
    font-size: 92px;
    color: #F3E9DC;
    position: absolute;
    top: 300px;
    margin-bottom: 40px;
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    text-shadow: 1px 1px #212121;
}
h3{
    font-size: 24px;
    font-family: 'Abril Fatface';
    margin-bottom: 80px;
    color: rgb(0, 0, 0);
    /* text-shadow: 2px 2px #212121; */
}
.login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 100px;
    margin-bottom: 100px;
    background-color: #DC493A;
    color: #F3E9DC;
    border-radius: 30px;
    font-family: 'Shrikhand';
    box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.346)
}
.holditall{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}
.logo{
    position: absolute;
    z-index: 0;
    top: 100px;
}
@media (max-width: 500px){
    .logo{
        height: 200px;
    }
    .titleHome{
        font-size: 40px;
        margin-top: -115px;
    }
}