@import url('https://fonts.googleapis.com/css?family=Shrikhand');
.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./cityandman.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2
}
.login-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000075;
    /* margin-left: 50px; */
    /* padding-left: 40px; */
}
.titleHome{
    font-size: 92px;
    color: #F3E9DC;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
     text-shadow: 1px 1px #212121;
}
h3{
    font-size: 24px;
    font-family: 'Abril Fatface';
    margin-bottom: 80px;
    color: rgb(0, 0, 0);
    /* text-shadow: 2px 2px #212121; */
}
.login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 100px;
    background-color: #006494;
    border-radius: 30px;
    font-family: 'Shrikhand';
    position: absolute;
    top: 10px;
    right: 10px;
}
.logo{
    position: absolute;
    z-index: 0
}
