.nav-container{
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    background: rgb(19, 72, 106);
    margin: 5px;
    border-radius: 5px;
}
.nav{
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
.feed{
    color: white;
    font-size: 22px;
}
.profile{
    color: white;
    font-size: 22px;
}
.search{
    color: white;
    font-size: 22px;
}
.plan{
    color: white;
    font-size: 22px;
}
.logout{
    color: white;
    font-size: 22px;
}

