.nav-container{
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    background-image: linear-gradient(-180deg, #FFFFFF 0%, rgb(194, 194, 194) 100%);
}
.nav{
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.feed{
    height: 50px;
    width: 100px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-shadow: 1px 2px 3px #666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.profile{
    height: 50px;
    width: 100px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-shadow: 1px 2px 3px #666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.search{
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-shadow: 1px 2px 3px #666;
}
.plan{
    height: 50px;
    width: 100px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-shadow: 1px 2px 3px #666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.logout{
    height: 50px;
    width: 100px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-shadow: 1px 2px 3px #666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.title-container{
    position: absolute;
}
.title{
    position: relative;
    color: black;
    top: 10px;
    z-index: 1;
    left: -800px;
}
.feed:hover{
    background-color: #4e4e4e;
    transition: .5s;
}
.profile:hover{
    background-color: #4e4e4e;
    transition: .5s;
}
.plan:hover{
    background-color: #4e4e4e;
    transition: .5s;
}
.logout:hover{
    background-color: #000000;
    transition: .5s;
}
