@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
.location-input{
      width: 200px;
      height: 33px;
      z-index: 1;
      border: none;
      position: absolute;
      top: 10px;
      left: 130px; ;
      border-radius: 3px;
      background-color: rgb(255, 255, 255);
      text-decoration-color: black;
      -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
      
}
.go-button{
      width: 50px;
      height: 34.5px;
      z-index: 1; 
      border: none;
      position: relative;
      top: 10px;
      left: 335px;
      border-radius: 3px;
      background-color: rgb(255, 255, 255);
      -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
      
}
.map-container > Map{
    height: 90vh;
    width: 50%;
}
.slide-details{
    background-color: rgb(143, 143, 143);
    opacity: 1;
    height: 500px;
    width: 575px;
    position: absolute;
    top: 5px;
    left: -590px;
    border-radius: 5px;
    padding-left: 10px;
    transition: .4s;
    z-index: 2;
    overflow-y: scroll;
}
h2 h1{
    color: white;
}
.slide{
    left:-5px;
}
.close{
    left: -590px;
}
.exit{
    height: 50px;
    width: 50px;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    right: 20px;
    top: 10px;
    z-index: 1;
    align-items: center;
}
.exit-line1{
    height: 5px;
    width: 30px;
    background-color: black;
    transform: rotate(45deg);
    position: absolute;
    border-radius: 2px;
}
.exit-line2{
    height: 5px;
    width: 30px;
    background-color: black;
    transform: rotate(135deg);
    border-radius: 2px;
}
.lists{
    height: 420px;
    width: 300px;
    position: absolute;
    top: 55px;
    left: 30px;
    z-index: 1;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    opacity: 0;
    transition: .7s;
    overflow-y: scroll;
}
.display-opacity{
    opacity: 1;
}
.hotel-list{
    height: 40px;
    margin-top: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.hotel-text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.hotel-name{
    font-weight: 700;
    margin-bottom: 2px;
}
