@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
.location-input{
      width: 160px;
      height: 33px;
      z-index: 1;
      border: none;
      position: absolute;
      top: 70px;
      left: 130px; ;
      border-radius: 3px;
      background-color: rgb(255, 255, 255);
      text-decoration-color: black;
      -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
      
}
.location-input[type = text]{
    background-image: url('./svg/search.svg');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 40px;
}
.go-button{
      width: 50px;
      height: 34.5px;
      z-index: 1; 
      border: none;
      position: relative;
      top: 70px;
      left: 335px;
      border-radius: 3px;
      background-color: rgb(255, 255, 255);
      -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
      
}
.slide-details{
    background-color: #f0f0f0;
    opacity: 1;
    height: 550px;
    width: 400px;
    position: absolute;
    top: 60px;
    left: -590px;
    transition: .4s;
    z-index: 2;
    overflow-y: scroll;
    border-right: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 5px;
}
h2 h1{
    color: white;
}
.slide{
    left:-5px;
}
.close{
    left: -590px;
}
.exit{
    height: 40px;
    width: 40px;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    right: 10px;
    top: 10px;
    z-index: 3;
    align-items: center;
    background-color: white;
    border-radius: 8px;
}
.exit-line1{
    height: 5px;
    width: 30px;
    background-color: rgb(0, 0, 0);
    transform: rotate(45deg);
    position: absolute;
    border-radius: 2px;
}
.exit-line2{
    height: 5px;
    width: 30px;
    background-color: rgb(0, 0, 0);
    transform: rotate(135deg);
    border-radius: 2px;
}
.lists{
    height: 420px;
    width: 310px;
    position: absolute;
    top: 115px;
    left: 15px;
    z-index: -2;
    background-color: #b8b8b8;  
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    opacity: 0;
    transition: .7s;
}
.display-opacity{
    opacity: 1;
    z-index: 1
}
.hotel-list{
    height: 40px;
    width: 290px;
    margin-top: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.hotel-text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.hotel-name{
    font-weight: 700;
    margin-bottom: 2px;
}
.window-text{
    text-align: center;
}
.title{
    margin-top: 2px;
}
.title-choices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title-choices > div{
    height: 22px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    /* -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
    padding: auto 2px auto 2px; */
    padding: 0 4px 0 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5px;
    margin-bottom: 3px;
}
.title-choices > div:active{
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: .6s;
}
.hotels{
    height: 400px;
    width: 310px;
    overflow-y: scroll;
    opacity: 0;
    transition: .3s;
    margin-left: 5px;
    position: absolute;
    z-index: 0;
}
.transportation{
    height: 400px;
    width: 310px;
    overflow-y: scroll;
    opacity: 0;
    margin-left: 5px;
    transition: .3s;
    position: absolute;
    z-index: 0;
}
.food{
    height: 400px;
    width: 310px;
    overflow-y: scroll;
    opacity: 0;
    margin-left: 5px;
    transition: .3s;
    position: absolute;
    z-index: 0;
}
.amusement{
    height: 400px;
    width: 310px;
    overflow-y: scroll;
    opacity: 0;
    margin-left: 5px;
    transition: .3s;
    position: absolute;
    z-index: 0;
}
.shopping{
    height: 400px;
    width: 310px;
    overflow-y: scroll;
    opacity: 0;
    margin-left: 5px;
    transition: .3s;
    position: absolute;
    z-index: 0;
}
.visibility{
    opacity: 1;
    z-index: 2;
}
.pic{
    width: 100%;
    background: cover;
    /* position: absolute; */
    z-index: -1;

}
.photo-container{
    
}
.name{
    z-index: 2;
    color: rgb(0, 0, 0);
}
.nameaddtotrip{
    display: flex;
    flex-direction: column;
    /* height: 250px; */
    width: 380px;
    background-color: #d6d6d6;
    /* position: relative; */
    z-index: 1;
    padding: 10px;
    /* border-radius: 5px; */
}
.body{
    margin-left: 10px;
}
.pic-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
}
.title-bar{
    height: 80px;
    width: 350px;
    background-color: #d6d6d6;
    padding: 0px 0px 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.addtotrip{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
.address-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10px;
}
.addtotrip-button{
    position: absolute;
    right: 10px;
    top: 60px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: #DC493A;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
}
.name{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.hours-button{
    height: 15px;
    width: 50px;
    border-radius: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.phone{
    margin-left: 10px;
    margin-top: 2px;
}
.hour-list{
    position: absolute;
    right: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border-radius: 3px;
    transition: .7s;
    z-index: 2;
}
.display{
    display: none;
}
.authorname{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.review{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}
.rating{
    font-family: 'Roboto', sans-serif;
    padding: 5px 0  0 12px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.text{
    font-family: 'Roboto', sans-serif;
    padding: 5px 20px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
}
.posted{
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
    padding-top: 5px;
    font-size: 11px;
    float: right;
}
.reviews-tag{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 10px;
}
.addtripbutton{
    height: 35px; 
    width: 150px;
    z-index: 0;
    position: relative;
    top: 35px;
    left: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #DC493A;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.circle{
    height: 30px;
    width: 30px;
    margin-top: 2.5px;
    margin-left: -15px;
    border-radius: 50%;
    background-color: #b8b8b8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addnewtrip{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.line1{
    height: 4px;
    width: 20px;
    background-color: #f0f0f0;
    position: absolute;
    border-radius: 5px;
}
.line2{
    height: 4px; 
    width: 20px;
    background-color: #f0f0f0;
    transform: rotate(90deg);
    border-radius: 5px;
}
.form-input{
    height: 20px;
    width: 200px;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #DC493A;
    font-size: 22px;
    color: #000000;
    text-decoration: none;
    margin-top: 20px;
}
.form-input:focus{
    outline: none;
}
.submit-button{
    height: 40px;
    width: 80px;
    background-color: #DC493A;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border: 1px solid black;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
.tripname{
    height: 10px;
    width: 150px;
    font-size: 22px;
    text-align: left;
    margin-left: -3px;
    /* margin-top: 60px; */
    margin-bottom: 5px;
    opacity: .5;
}
.newTrip{
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
    width: 300px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #DC493A;
    transition: .6s;
}
.newTrip:focus{
    outline: none;
}
.modal-exit{
    height: 20px;
    width: 20px;
    position: relative;
    left: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
}
.mexit-line1{
    height: 5px;
    width: 20px;
    background-color: black;
    position: absolute;
    border-radius: 4px;
    transform: rotate(135deg)
}
.mexit-line2{
    height: 5px;
    width: 20px;
    background-color: black;
    border-radius: 4px;
    transform: rotate(45deg)
}
.addToTripModal{
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #DC493A;
    padding: 20px 0 20px 0;
}
.addToTripModal:focus{
    outline: none;
}
.choice{
    padding: 5px;
}
.grow{
    animation: grow
}
@keyframes grow{
    from{
        width: 0;
        background-color: white;
    }
    to{
        width: 200;
        background-color: white;
    }
}
.trip-choice{
    height: 15px;
    width: 150px;
    /* text-align: center; */
    padding: 5px;
    transition: .5s;
}
.modal-trip-exit{
    height: 20px;
    width: 20px;
    position: relative;
    right: -178px;
}

/* .trip-choice:hover{
    background-color: red;
} */
/* .choice-slide{
    animation-name: colorSlide;
    animation-duration: .5s;
}
@keyframes colorSlide{
    from{
        background-color: red;
        width: 0px
    }
    to{
        background-color: red;
        width: 150px;
    }
} */