.followerimg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.followerspage{
    width: 200px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.followerusername{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.followerslist{
    height: 100vh;
    width: 100vw;
    background-color: #F3E9DC
}