.followerimg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.followerspage{
    width: 375px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.followerusername{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
    font-size: 24px;
}
.followerslist{
    background-color: #F3E9DC;
    min-width: 100vw;
    min-height: 100vh;
    padding: 20px;
}
.followerslisttitle{
    font-size: 35px;
    margin-bottom: 20px;
}