.followingimg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.followingUsers{
    width: 375px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.followingusername{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.followingunfollowbutton{
    border-radius: 5px;
}
.followinglist{
    background-color: #F3E9DC;
    height: 100vh;
    width: 100vw;
    padding: 10px;
}
.followingtitleone{
    font-size: 35px;
}